<h1>About This PheWeb</h1>
<br>
<p>The PheWeb portal shows genome-wide association analyses results for 871 time-to-event phenotypes based on the White British participants in the UK Biobank. The phenotypes are coded as PheCodes, which are constructed from the International Classification of Diseases (ICD) codes available in the Electronic Health Records (EHR). For each PheCode, the subjects who had the PheCode were regarded as having events, and the subjects who did not have the PheCode were regarded as censored. The analyses used imputed genotypes based on the UK10K and Haplotype Reference Consortium (HRC) panels. The analyses were conducted using GATE (an efficient frailty model-based association test that uses the saddlepoint approximation to account for case-control imbalance), controlling for genetic relatedness, sex, birth year, and the first four genetic principal components. All genomic positions are according to GRCh37 assembly.</p>
<br>
<p>This site was built with <a href="https://github.com/statgen/pheweb/">PheWeb</a> version {{ config.PHEWEB_VERSION }}.</p>
<br>
